
body{
  background-color: rgb(189, 189, 189);
}
.parent{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover{
box-shadow: 0px 0px 20px 0px #ffffffff,
0px 0px 0px -33px #ff0000ff,
0px 0px 24px -20px #ff0000ff,
0px 0px 30px 0px #00ffffff;
transition: 0.5s;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top img{
  height: 42px;
 width: 42px;
 border-radius: 50%;
 border: 1px solid #dadada;
 padding: 2px;

 
 
  

}
.top button{
  
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 2px;
  background-color: transparent;
  color: #dadada;
}

.main h3{
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding: 0;



}
.main h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #b8b8b8;
}
.main h2{
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.main .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin: 0;
  padding: 0;
  border-radius: 9px;
}
.main .tag h4{
  font-size: 11px;
  background-color: #dadada;
  padding: 4px 8px;
  font-weight: 450;
  color: #111;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px ;
}
.bottom p{
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.bottom h3{
  margin: 0;
  padding: 0;
  font-size: 17px;
}
.bottom button{
  background-color: #111;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}
.bottom button:hover{
  background-color: white;
  color: black;
  transition: 1s;
}